/* --------------------   Czcionka  --------------------  */

@import url('https://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext');

body {
    font-family: 'Advent Pro', sans-serif;
    font-size: 3vw;
    background-color: rgb(255, 255, 255);
    width: calc(100vw - (100vw - 100%));
}

/* --------------------   Zerowanie  --------------------  */

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* --------------------   domyślne style  --------------------  */

/* -- cienie -- */

.shadows{
    -webkit-box-shadow: 5px 5px 11px 5px #595959; 
    box-shadow: 5px 5px 11px 5px #595959;
}

/* -- nagłowek -- */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 30vw;
    background-image: url('../assets/header.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    background-color: #994c8a;
    border: 0.8vw solid black;
}
#header-icon{
    position: absolute;
    width: 25vw;
    z-index: 1;
}
#main_heading{
    margin-bottom: 2vw;
    color: white;
    text-decoration: underline;
    text-decoration-color: #105984;
    font-style: italic;
    font-size: 6vw;
    z-index: 2;
}
#newHeading{
    transform: skewY(-6deg);
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    z-index: 2;
}
.subtitle{
    font-style: italic;
    font-size: 2vw;
    color: white;
    z-index: 2;
}

/* -- 'ciało' strony -- */

#container{
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    margin: 4vw 0;
    font-size: 4vw;
    color: #105984
}
#benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.plus{
    width: 34vw;
    height: 13vw;  
    margin-bottom: 3vw;
    position: relative;
    border: 0.3vw solid black;
    padding: 1% 0;
    cursor: pointer;
}
.plus:hover{
    border: 0.3vw solid #994c8a;
    background-color: #f2f2f2;
}
.plus p{
    color: black;
    font-weight: bold;
    font-size: 3.5vw;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fruitIcon{
    position: absolute;
    width: 15vw;
    top: 0;
    left: 10vw;
    z-index: 0;
}
.sliders{
    width: 80%;
    height: 35vw;
    border: 0.3vw solid black;
    display: none;
}

/* Formularz */

#emailHeading{
    font-size: 3vw;
    color: #994c8a;
}
#mainForm{
    text-align: center;
    border: 0.3vw solid black;
    padding: 2vw;
    margin: 1vw;
    background-image: url('../assets/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
}
.emailInput{
    width: 30vw;
    font-size: 2vw;
    background-color: white;
    color: #105984;
    text-align: center;
    border-radius: 20%;
    border: 0.3vw solid black;
}
#submit{
    width: 20vw;
    height: 3.5vw;
    font-size: 2vw;
    cursor: pointer;
    background-color: #994c8a;
    color: white;
    text-align: center;
    border-radius: 20%;
    margin-top: 1vw 0;
    border: 0.3vw solid black;
    background-image: url('../assets/header.png');
    background-repeat: no-repeat;
    background-position: center;
}
#submit:hover{
   color: black;
}

/* ikonki portalów społecznościowych */

#iconsDiv{
    display: flex;
    flex-direction: row;
    padding-bottom: 4vw;
}
.socialIcon{
    margin: 1vw 5vw;
    border: 0.2vw solid black;
    padding: 1vw;
    cursor: pointer;
    width: 6vw;
}
.socialIcon:hover{
    border-color: #994c8a;
}

/* -- stopka -- */

footer{
    text-align: center;
    font-size: 1vw;
    background-image: url('../assets/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: calc(100vw - (100vw - 100%));
    border-top: 0.3vw solid black;
    color: white;
}
footer a{
    color: black;
}


/* ----------  Style działające dla szerokości ekranu mniejszej od 768px  ----------- */

@media screen and (max-width: 768px) {
    header{
        height: 40vw;
    }
    #header-icon{
        width: 30vw;
    }
    #main_heading{
        font-size: 7vw;
    }
    .heading{
        font-size: 5vw;
    }
    .plus{
        width: 51vw;
        height: 15vw;
        margin-top: 3vw;
    }
    .plus p{
        font-size: 4vw;
    }
    .fruitIcon{
        left: 18vw;
        top: 2vw;
    }
    #emailHeading{
        font-size: 3.5vw;
    }
    #mainForm{
        width: 70vw;
        font-size: 4vw;
        padding: 3vw;
    }
    .emailInput{
        font-size: 3vw;
    }
    #submit{
        width: 30vw;
        font-size: 3vw;
        height: 5vw;
        margin-top: 2vw;
    }
    footer{
        font-size: 1.5vw;
    }
    

}
   
/* ----------  Style działające dla szerokości ekranu większej od 60em  ---------- */

@media screen and (min-width: 60em) {
    
}
   
/* ----------  Style dla ekranu pracującego w trybie `landscape` i jednocześnie o podwójnej gęstości pikseli  ---------- */
@media screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}
   
/* ----------  Style dla wydruku strony  ----------- */

@media print {
    .printDelete{
        display: none;
    }
    .heading{
        margin: 3vw;
    }
}

