/* --------------------   Czcionka  --------------------  */

@import url('https://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext');

body {
    font-family: 'Advent Pro', sans-serif;
    font-size: 3vw;
    background-color: rgb(255, 255, 255);
    width: calc(100vw - (100vw - 100%));
}

/* --------------------   Zerowanie  --------------------  */

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* --------------------   domyślne style  --------------------  */

/* -- nagłowek -- */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    height: 30vw;
    background-image: url('../assets/header.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    background-color: #994c8a;
    border: 0.8vw solid black;
}

#header-icon{
    position: absolute;
    width: 25vw;
    z-index: 1;
}

#main_heading{
    margin-bottom: 2vw;
    color: white;
    font-size: 6vw;
    z-index: 2;
}

.subtitle{
    font-style: italic;
    font-size: 2vw;
    color: white;
    z-index: 2;
}

/* -- 'ciało' strony -- */

#container{
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-top: 3vw;
    font-size: 4vw;
    color: #994c8a;
}

#benefits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plus{
    width: 36vw;
    height: 13vw;
    margin-top: 3vw;
    position: relative;
    border: 0.3vw solid black;
    background-color: white;
    padding: 1% 0;
}
.plus p{
    color: black;
    font-weight: bold;
    font-size: 3.5vw;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
}

.fruitIcon{
    position: absolute;
    width: 15vw;
    top: 0;
    left: 12vw;
    z-index: 0;
}



/* ----------  Style działające dla szerokości ekranu mniejszej od 768px  ----------- */

@media screen and (max-width: 768px) {
    
}
   
/* ----------  Style działające dla szerokości ekranu większej od 60em  ---------- */

@media screen and (min-width: 60em) {
    
}
   
/* ----------  Style dla ekranu pracującego w trybie `landscape` i jednocześnie o podwójnej gęstości pikseli  ---------- */
@media screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}
   
/* ----------  Style dla wydruku strony  ----------- */

@media print {
     
}

